:root {
    /* --jexcel_header_color: #888;
    --jexcel_header_color_highlighted: #444;
    --jexcel_header_background: #313131;
    --jexcel_header_background_highlighted: #777;
    --jexcel_content_color: #777;
    --jexcel_content_color_highlighted: #333;
    --jexcel_content_background: #3e3e3e;
    --jexcel_content_background_highlighted: #777;
    --jexcel_menu_background: #7e7e7e;
    --jexcel_menu_background_highlighted: #ebebeb;
    --jexcel_menu_color: #ddd;
    --jexcel_menu_color_highlighted: #222;
    --jexcel_border_color: #5f5f5f;
    --jexcel_border_color_highlighted: #999;
    --active_color: #eee;
    --active-color: var(--active_color); */

    --jexcel_header_color: white;
    --jexcel_header_color_highlighted: #white;
    --jexcel_header_background: #363640;
    --jexcel_content_color: white;
    --jexcel_content_background: #363640;
    --jexcel_content_background_highlighted: var(var(--jexcel_header_background));
    /* --jexcel_content_background_highlighted: #2a2a32; */
    --jexcel_menu_box_shadow: unset;
    --jexcel_border_color: rgba(255, 255, 255, 0.12);


}

/* removes blue outline when table is clicked */
*:focus {outline:none !important}

.jexcel {
    border-bottom: 1px solid var(--jexcel_border_color);
    border-right: 0px solid var(--jexcel_border_color);
}

/* controls table font size */
.jexcel > tbody > tr > td,
.jexcel > thead > tr > td {
    border-top: 1px solid var(--jexcel_border_color);
    /* border-left: 1px solid var(--jexcel_border_color); */
    border-left: 0px solid var(--jexcel_border_color);
    background-color: var(--jexcel_content_background);
    color: var(--jexcel_content_color);
    padding-bottom: 10px;
    /* font-size: 12px; */
    /* font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif; */
    /* font-weight: 400;  */
}


.jexcel > thead > tr > td:first-child {
    border-top: 0px solid var(--jexcel_border_color);
}



.jexcel > tbody > tr > td:first-child,
.jexcel > thead > tr > td {
    background-color: var(--jexcel_header_background);
    color: var(--jexcel_header_color);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    border-top: 1px solid #363640;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    /* border-right: 1px solid var(--jexcel_border_color); */
}


/* index styling */
.jexcel > tbody > tr > td:first-child {
    background-color: var(--jexcel_header_background);
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    border-bottom: 0px solid rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.6);
    /* border-right: 1px solid var(--jexcel_border_color); */
}


.jexcel > tbody>tr>:nth-child(3){
    border-right: 1px solid rgba(255, 255, 255, 0.12);
   }


/* .jexcel > thead > tr > td.selected, */
/* .jexcel > tbody > tr.selected > td:first-child {
    background-color: var(--jexcel_header_background_highlighted);
    color: var(--jexcel_header_color_highlighted);
} */

.jexcel > tbody > tr > td.jexcel_cursor a {
    color: var(--active-color); 
}

.jexcel_pagination > div > div {
    color: var(--jexcel_header_color);
    background: var(--jexcel_header_background);
    /* border: 1px solid var(--jexcel_border_color); */
}

.jexcel_page,
.jexcel_container input,
.jexcel_container select {
    color: var(--jexcel_header_color);
    background: var(--jexcel_header_background);
    /* border: 1px solid var(--jexcel_border_color); */
    box-shadow: unset;
}

.jexcel_contextmenu {
    /* border: 1px solid var(--jexcel_border_color); */
    border: 1px solid black;
    background: var(--jexcel_menu_background);
    color: var(--jexcel_menu_color);
    box-shadow: var(--jexcel_menu_box_shadow);
    -webkit-box-shadow: var(--jexcel_menu_box_shadow);
    -moz-box-shadow: var(--jexcel_menu_box_shadow);
}

.jexcel_contextmenu > div a {
    color: var(--jexcel_menu_color);
}

.jexcel_contextmenu > div:not(.contextmenu-line):hover a {
    color: var(--jexcel_menu_color_highlighted);
}

.jexcel_contextmenu > div:not(.contextmenu-line):hover {
    background: var(--jexcel_menu_background_highlighted);
}

.jexcel_dropdown .jdropdown-container,
.jexcel_dropdown .jdropdown-content {
    background-color: var(--jexcel_content_background);
    color: var(--jexcel_content_color);
}

.jexcel_dropdown .jdropdown-item {
    color: var(--jexcel_content_color);
}

.jexcel_dropdown .jdropdown-item:hover,
.jexcel_dropdown .jdropdown-selected,
.jexcel_dropdown .jdropdown-cursor {
    /* background-color: var(--jexcel_content_background_highlighted); */
    color: var(--jexcel_content_color_highlighted);
}

.jexcel .jcalendar-content {
    background-color: var(--jexcel_header_background);
    color: var(--jexcel_header_color);
}

.jexcel .jcalendar-content > table {
    background-color: var(--jexcel_content_background);
    color: var(--jexcel_content_color);
}

.jexcel .jcalendar-weekday {
    /* background-color: var(--jexcel_content_background_highlighted); */
    color: var(--jexcel_content_color_highlighted);
}

.jexcel .jcalendar-sunday {
    color: var(--jexcel_header_color);
}

.jexcel .jcalendar-selected {
    /* background-color: var(--jexcel_content_background_highlighted); */
    color: var(--jexcel_content_color_highlighted);
}

.jexcel_toolbar i.jexcel_toolbar_item {
    color: var(--jexcel_content_color);
}

.jexcel_toolbar i.jexcel_toolbar_item:hover {
    /* background: var(--jexcel_content_background_highlighted); */
    color: var(--jexcel_content_color_highlighted);
}

.jexcel_toolbar {
    background: var(--jexcel_header_background);
}

.jexcel_content::-webkit-scrollbar-track {
    background: var(--jexcel_background_head);
}

.jexcel_content::-webkit-scrollbar-thumb {
    background: var(--jexcel_background_head_highlighted);
}


.jexcel_border_main {
    border: 1px solid #000;
    border-color: var(--jexcel_border_color_highlighted);
}

.jexcel .highlight {
    background-color: var(--jexcel_content_background_highlighted);
}


.jexcel .highlight-bottom {
    border-bottom: 1px solid var(--jexcel_border_color_highlighted);
}
.jexcel .highlight-right {
    border-right: 1px solid var(--jexcel_border_color_highlighted);
}
.jexcel .highlight-left {
    border-left: 1px solid var(--jexcel_border_color_highlighted);
}
.jexcel .highlight-top {
    /* border-top: 1px solid var(--jexcel_border_color_highlighted); */
    border-top: 1px solid var(--jexcel_border_color);
}


.jexcel .highlight > tbody>tr>:nth-child(1){
    background-color: red;
   }


.jexcel .copying-top {
    border-top-color: var(--jexcel_border_color_highlighted);
}
.jexcel .copying-right {
    border-right-color: var(--jexcel_border_color_highlighted);
}
.jexcel .copying-left {
    border-left-color: var(--jexcel_border_color_highlighted);
}
.jexcel .copying-bottom {
    border-bottom-color: var(--jexcel_border_color_highlighted);
}
.jexcel_border_main, .jexcel .highlight-top.highlight-left, .jexcel .highlight-top, .jexcel .highlight-left {
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.jexcel > tbody > tr:hover td,
.jexcel > tbody > tr:hover td.highlight
{
    background: #2a2a32;
}

/* .jexcel_row {
    color: red;
  } */